*{
  box-sizing: border-box;
  margin: 0px;

}
html,body{
  width: 100%;
  height: 100%;
}
.wrapper{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}
.wrapper_header{
  width:464px;
  height: 203px;
  
}
.wrapper_body{
  width:464px;
  height: 203px;
  display: flex;
  flex-direction: column;
  justify-content: center;

}
.wrapper_title{
  width: 100%;
  
  display: flex;
  flex-direction: row;
  align-items: center;

}
.divLine{
  width: 100%;
  margin: 10px 0px;
  border-top: 1px solid gray;
}
.title{
  font-size: 15px;
  font-weight: 700;
  color: aqua;
}
.sub_title{
  font-size: 11px;
  font-weight: 700;
}
.albumWrapper{
  margin-top: 10px;
  padding-top: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px;
 
}
.album{
  width:100%;
  
  display: flex;
  flex-direction: column;
  
  align-items: center;
  
}
.albumTitle{
  font-size: 11px;
  color: #0f465e;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: center;

}
.albumSubTitle{
font-size:10px;
color: gray;
font-weight: bold;
display: flex;
flex-direction: row;
justify-content: center;
}
.albumTable{
  width: 100%;
  border-spacing: 0px;
}
.albumTable th{
  height: 20px;
  font-size: 10px;
  font-weight: bold;
  color: gray;
  background-color: #eeeeee;
  border-top: 1px solid gray;
  border-bottom: 1px dashed gray;
  padding-top: 5px;

}
.albumTable td{
  height: 20px;
  font-size: 10x;
  color:#0f465e
  ;
  border-bottom: 1px dashed gray;

}
.album-table-checkbox{
 width: 5%;
 text-align: center;
}
.album-table-number{
  width: 10%;
  text-align: center;
}
.album-table-song{
  width: 45%;
  text-align: left;
}
.album-table-artist{
  width: 30%;
  text-align: center;
}
